@model IEnumerable<BTRS.Models.BusTrip>

@{
    ViewData["Title"] = "ListTrips";
}

<h1>My Trips</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripDistination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripDistination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                <a asp-action="CancleTrip" asp-route-BusTripID="@item.BusTripID" class="btn btn-danger">Cancle Trip</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <a asp-action="BusTripList" class="btn btn-warning">Go To Available Trips</a>
    </tfoot>
</table>
